.skill-cont {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: left;
  width: 90%;
  padding: 1rem;
  margin: 0 auto;
}

.skill-cont ul > li {
    list-style: none;
    padding: 0.4rem;
}

.skill-header ul > li {
    font-size: 4rem;
    color: #14a800;
}

.skill-header ul > li:nth-child(n + 2){
    color: #d5e0d5;
}

.skill-header ul > li:nth-child(n + 2):hover{
    color: #14a800;
}

.skill-areas  ul > li{
  font-size: 1.5rem;
  color: #5e6d55;
  font-weight: 400;
}
