.second-nav {
  display: flex;
  width: 100%;
  position: fixed;
  align-items: flex-start;
}

.nav-items {
  margin-left: 0.5rem;
}

.nav-item1:hover {
    text-decoration: underline;
}

.nav-item2:hover {
    text-decoration: underline;
}

.nav-item3:hover {
    text-decoration: underline;
}

.nav-item4:hover {
    text-decoration: underline;
}

.nav-item5:hover {
    text-decoration: underline;
}

#nav-item6:hover {
    text-decoration: underline;
}
